# Importing dataset

In [3]:
import pandas as pd

twt_pd = pd.read_csv('Twiter_sentiment_data.csv',encoding='latin-1', names=['target', 'id', 'date', 'flag', 'user', 'text' ])
twt_pd.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [7]:
twt_data = twt_pd[['target', 'text']]
twt_data.head()

   target                                               text
0       0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  is upset that he can't update his Facebook by ...
2       0  @Kenichan I dived many times for the ball. Man...
3       0    my whole body feels itchy and like its on fire
4       0  @nationwideclass no, it's not behaving at all....

# Exploratory Data Analysis (EDA)

In [10]:
twt_data['target'].value_counts()

0    800000
4    800000
Name: target, dtype: int64

In [11]:
# checking the unique value in the target_ class
twt_data['target'].unique()

array([0, 4], dtype=int64)

In [18]:
data = twt_data['text'][100]
print(data)

 Body Of Missing Northern Calif. Girl Found: Police have found the remains of a missing Northern California girl .. http://tr.im/imji

# PREPROCESSING

In [19]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
import string
import re 
st_words = stopwords.words('english')
ps = PorterStemmer()

def tweet_data_cleaner(text):

  # removing tweet handler and web link.....
  output = re.sub(r'(http|https|www)\S*', "" , text) 
  remove_at = "".join([re.sub(r'@\w*', out[1:].strip() , out) for out in output])
  output = remove_at.strip() # removing remaining white space

  # tokenize, stemming, removing stopwords etc
  text = ''.join([token for token in output if not token in string.punctuation])
  token = word_tokenize(text)
  text  = [ps.stem(t) for t in token if not t in st_words ]

  return text

In [20]:
twt_data['cl_text'] = twt_data['text'].apply(lambda data : tweet_data_cleaner(data))

C:\Users\binary\AppData\Local\Temp\ipykernel_1204\812137787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twt_data['cl_text'] = twt_data['text'].apply(lambda data : tweet_data_cleaner(data))

In [ ]:
twt_data['cl_text']