# import all text bbc new doc

In [3]:
with open('News_Articles/business/002.txt') as file:
    print(file.read())

Dollar gains on Greenspan speech

The dollar has hit its highest level against the euro in almost three months after the Federal Reserve head said the US trade deficit is set to stabilise.

And Alan Greenspan highlighted the US government's willingness to curb spending and rising household savings as factors which may help to reduce it. In late trading in New York, the dollar reached $1.2871 against the euro, from $1.2974 on Thursday. Market concerns about the deficit has hit the greenback in recent months. On Friday, Federal Reserve chairman Mr Greenspan's speech in London ahead of the meeting of G7 finance ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected US jobs data. "I think the chairman's taking a much more sanguine view on the current account deficit than he's taken for some time," said Robert Sinche, head of currency strategy at Bank of America in New York. "He's taking a longer-term view, laying out a set of conditions under which the current account deficit can improve this year and next."

Worries about the deficit concerns about China do, however, remain. China's currency remains pegged to the dollar and the US currency's sharp falls in recent months have therefore made Chinese export prices highly competitive. But calls for a shift in Beijing's policy have fallen on deaf ears, despite recent comments in a major Chinese newspaper that the "time is ripe" for a loosening of the peg. The G7 meeting is thought unlikely to produce any meaningful movement in Chinese policy. In the meantime, the US Federal Reserve's decision on 2 February to boost interest rates by a quarter of a point - the sixth such move in as many months - has opened up a differential with European rates. The half-point window, some believe, could be enough to keep US assets looking more attractive, and could help prop up the dollar. The recent falls have partly been the result of big budget deficits, as well as the US's yawning current account gap, both of which need to be funded by the buying of US bonds and assets by foreign firms and governments. The White House will announce its budget on Monday, and many commentators believe the deficit will remain at close to half a trillion dollars.

In [11]:
import os
classes = os.listdir('News_Articles')
classes

['business', 'entertainment', 'politics', 'sport', 'tech']

In [37]:
file_paths = ['News_Articles/' + cl for cl in classes]
# file_path = 'News_Articles/' + classes[0]
# file_path
file_paths
path = 'News_Articles'
file = f'{path}/{classes[0]}'

In [44]:
corpus = {
    'business': [] , 
    'entertainment':[], 
    'politics': [], 
    'sport': [],
    'tech': []
}


# helper method to read document from the web
def read_document(doc):
    with open(doc) as d: 
        data = d.read()
        return data;

# print(read_document(f'{path}/{classes[0]}/001.txt'))

for cl in classes:
    documents = os.listdir(f'{path}/{cl}')
    for doc in documents:
#         print(doc)
        if doc.endswith('.txt'):
            data = read_document(f'{path}/{cl}/{doc}')
#             appending read document to the dictionary corpus above...
            corpus[cl].append(data)
    
print('Execution complete...')

Execution complete...

In [50]:
corpus['entertainment'][0]

'Gallery unveils interactive tree\n\nA Christmas tree that can receive text messages has been unveiled at London\'s Tate Britain art gallery.\n\nThe spruce has an antenna which can receive Bluetooth texts sent by visitors to the Tate. The messages will be "unwrapped" by sculptor Richard Wentworth, who is responsible for decorating the tree with broken plates and light bulbs. It is the 17th year that the gallery has invited an artist to dress their Christmas tree. Artists who have decorated the Tate tree in previous years include Tracey Emin in 2002.\n\nThe plain green Norway spruce is displayed in the gallery\'s foyer. Its light bulb adornments are dimmed, ordinary domestic ones joined together with string. The plates decorating the branches will be auctioned off for the children\'s charity ArtWorks. Wentworth worked as an assistant to sculptor Henry Moore in the late 1960s. His reputation as a sculptor grew in the 1980s, while he has been one of the most influential teachers during the last two decades. Wentworth is also known for his photography of mundane, everyday subjects such as a cigarette packet jammed under the wonky leg of a table.\n'

In [51]:
corpus['sport'][0]

'Claxton hunting first major medal\n\nBritish hurdler Sarah Claxton is confident she can win her first major medal at next month\'s European Indoor Championships in Madrid.\n\nThe 25-year-old has already smashed the British record over 60m hurdles twice this season, setting a new mark of 7.96 seconds to win the AAAs title. "I am quite confident," said Claxton. "But I take each race as it comes. "As long as I keep up my training but not do too much I think there is a chance of a medal." Claxton has won the national 60m hurdles title for the past three years but has struggled to translate her domestic success to the international stage. Now, the Scotland-born athlete owns the equal fifth-fastest time in the world this year. And at last week\'s Birmingham Grand Prix, Claxton left European medal favourite Russian Irina Shevchenko trailing in sixth spot.\n\nFor the first time, Claxton has only been preparing for a campaign over the hurdles - which could explain her leap in form. In previous seasons, the 25-year-old also contested the long jump but since moving from Colchester to London she has re-focused her attentions. Claxton will see if her new training regime pays dividends at the European Indoors which take place on 5-6 March.\n'

In [57]:
for key , val in corpus.items():
    print(f' Class : {key} :  Size : {len(val)}')

 Class : business :  Size : 510
 Class : entertainment :  Size : 386
 Class : politics :  Size : 417
 Class : sport :  Size : 511
 Class : tech :  Size : 401

In [75]:
label = []
document = []

for key , val in corpus.items():
    for v in val:
        label.append(key), 
        document.append(v)
    

print(len(label))
print(len(label))

2225
2225

In [76]:
import pandas as pd 

df = pd.DataFrame(
    {'label': label, 
     'document': document
    }
)

df.head()

      label                                           document
0  business  Ad sales boost Time Warner profit\n\nQuarterly...
1  business  Dollar gains on Greenspan speech\n\nThe dollar...
2  business  Yukos unit buyer faces loan claim\n\nThe owner...
3  business  High fuel prices hit BA's profits\n\nBritish A...
4  business  Pernod takeover talk lifts Domecq\n\nShares in...

In [82]:
df['label'][df.label == 'entertainment']

510    entertainment
511    entertainment
512    entertainment
513    entertainment
514    entertainment
           ...
891    entertainment
892    entertainment
893    entertainment
894    entertainment
895    entertainment
Name: label, Length: 386, dtype: object

In [84]:
# df.to_csv('bbc_sum_data', index=False)

# exploratory data analysis

In [ ]:
r_data  = pd.read_csv('bbc_summary_dataset.csv')
r_data.head()

In [44]:
import pandas as pd 

data  = pd.read_csv('bbc_summary_dataset.csv')
data.head()

      label                                           document
0  business  Ad sales boost Time Warner profit\n\nQuarterly...
1  business  Dollar gains on Greenspan speech\n\nThe dollar...
2  business  Yukos unit buyer faces loan claim\n\nThe owner...
3  business  High fuel prices hit BA's profits\n\nBritish A...
4  business  Pernod takeover talk lifts Domecq\n\nShares in...

In [45]:
# data.to_csv('bbc_summary_dataset.csv', index=False)
def remove_newline(doc):

    doc = ''.join([d.replace('\n', ' ') for d in doc])
    
    return doc

data['document'] = data['document'].apply(lambda x: remove_newline(x))

In [46]:
document = data.document

In [47]:
document

0       Ad sales boost Time Warner profit  Quarterly p...
1       Dollar gains on Greenspan speech  The dollar h...
2       Yukos unit buyer faces loan claim  The owners ...
3       High fuel prices hit BA's profits  British Air...
4       Pernod takeover talk lifts Domecq  Shares in U...
                              ...
2220    BT program to beat dialler scams  BT is introd...
2221    Spam e-mails tempt net shoppers  Computer user...
2222    Be careful how you code  A new European direct...
2223    US cyber security chief resigns  The man makin...
2224    Losing yourself in online gaming  Online role ...
Name: document, Length: 2225, dtype: object

In [4]:
# from nltk.tokenize import word_tokenizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import string
from nltk.stem import PorterStemmer

st = stopwords.words('english')
stemmer = PorterStemmer()

cr = ['Ad sales boost Time Warner profit\n\nQuarterly profits at US media giant TimeWarner jumped 76% to $1.13bn',
     'results following a probe by the US Securities Exchange Commission (SEC), which is close to concluding.\n\nTime Warner']

def clean_doc(doc):

    doc = ''.join([d.replace('\n', ' ') for d in doc])
    token = word_tokenize(doc)
    doc = [stemmer.stem(d) for d in token if not d in string.punctuation] 
    doc = [d for d in doc if not d in st]
    
    
    return doc
    
# for doc in document:
#     print(clean_doc(doc))

In [ ]:
data['clean_document'] = data['document'].apply(lambda x: clean_doc(x))

In [61]:
data.head()

,label,document,clean_document
0,business,Ad sales boost Time Warner profit Quarterly p...,"[ad, sale, boost, time, warner, profit, quarte..."
1,business,Dollar gains on Greenspan speech The dollar h...,"[dollar, gain, greenspan, speech, dollar, ha, ..."
2,business,Yukos unit buyer faces loan claim The owners ...,"[yuko, unit, buyer, face, loan, claim, owner, ..."
3,business,High fuel prices hit BA's profits British Air...,"[high, fuel, price, hit, ba, 's, profit, briti..."
4,business,Pernod takeover talk lifts Domecq Shares in U...,"[pernod, takeov, talk, lift, domecq, share, uk..."

In [8]:
# pip install textaugment

Collecting textaugment
  Using cached textaugment-1.3.4-py3-none-any.whl (16 kB)
Collecting googletrans
  Using cached googletrans-3.0.0.tar.gz (17 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: gensim in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from textaugment) (4.1.2)
Requirement already satisfied: numpy in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from textaugment) (1.22.3)
Requirement already satisfied: nltk in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from textaugment) (3.7)
Collecting textblob
  Using cached textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: Cython==0.29.23 in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from gensim->textaugment) (0.29.23)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from gensim->textaugment) (5.2.1)
Requirement already satisfied: scipy>=0.18.1 in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from gensim->textaugment) (1.8.0)
Collecting httpx==0.13.3
  Using cached httpx-0.13.3-py3-none-any.whl (55 kB)
Requirement already satisfied: certifi in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from httpx==0.13.3->googletrans->textaugment) (2021.10.8)
INFO: pip is looking at multiple versions of googletrans to determine which version is compatible with other requirements. This could take a while.
Collecting googletrans
  Downloading googletrans-2.4.0.tar.gz (17 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from googletrans->textaugment) (2.27.1)
Requirement already satisfied: joblib in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from nltk->textaugment) (1.1.0)
Requirement already satisfied: tqdm in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from nltk->textaugment) (4.63.1)
Requirement already satisfied: click in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from nltk->textaugment) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from nltk->textaugment) (2022.3.15)
Requirement already satisfied: colorama in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from click->nltk->textaugment) (0.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from requests->googletrans->textaugment) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from requests->googletrans->textaugment) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\binary\appdata\local\programs\python\python39\lib\site-packages (from requests->googletrans->textaugment) (1.26.9)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py): started
  Building wheel for googletrans (setup.py): finished with status 'done'
  Created wheel for googletrans: filename=googletrans-2.4.0-py3-none-any.whl size=15789 sha256=aacdf89766bb357b43de168af2fa092967249892cfc0db829ba09ebc5fe60d13
  Stored in directory: c:\users\binary\appdata\local\pip\cache\wheels\11\37\b2\c72d3f56deb130d693e7f5c425ce583ca2e0498a8397d8384e
Successfully built googletrans
Installing collected packages: googletrans, textblob, textaugment
Successfully installed googletrans-2.4.0 textaugment-1.3.4 textblob-0.17.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\binary\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\binary\appdata\local\programs\python\python39\lib\site-packages)
  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000019A088BC3A0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /packages/fd/f0/a22d41d3846d1f46a4f20086141e0428ccc9c6d644aacbfd30990cf46886/googletrans-2.4.0.tar.gz
WARNING: Ignoring invalid distribution -rotobuf (c:\users\binary\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\binary\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\binary\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\binary\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\binary\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\binary\appdata\local\programs\python\python39\lib\site-packages)
WARNING: There was an error checking the latest version of pip.

In [56]:
import gensim

model = gensim.models.Word2Vec(
    window=10,
    min_count=2,
    workers = 5 
)

In [57]:
model.build_vocab(data['clean_document'], progress_per = 1000)
model.train(data['clean_document'], total_examples=model.corpus_count, epochs=model.epochs)

(2484664, 2737595)

In [58]:
from gensim.models import Word2Vec
# model.save('bbc-summary-w2vec')
w2vec = Word2Vec.load("bbc-summary-w2vec")

In [59]:
w2vec.wv.most_similar('game')

[('play', 0.940715491771698),
 ('player', 0.8917999267578125),
 ('rave', 0.8784831166267395),
 ('joystick', 0.875389039516449),
 ('chanc', 0.8690231442451477),
 ('song', 0.8608483672142029),
 ('grandchildren', 0.8583052754402161),
 ('win', 0.8515518307685852),
 ('belt', 0.8265136480331421),
 ('perform', 0.8204813599586487)]

In [62]:
from textaugment import Word2vec
t = Word2vec(model='bbc-summary-w2vec', runs=5)

In [63]:
t.augment('Quarterly profits at US media giant')

'quarterly profits at edinburgh burk traill'

In [15]:

# sample = []
# argsize = 5 
# for aug in range(argsize):
#   sample.append(t.augment('The man stories are good'))

# sample

def generate_aurgdata(dataset ,input_col_name, output_col_name , aug_obj):

  #              GETTING DATASET META INFO FOR AUG-DATA
  # ==================================================================
  # getting lenth of each categories in the output coloumns
  class_len = []
  for classes in dataset[output_col_name].unique():
    ln = len(data[data[output_col_name]== classes])
    class_len.append(ln)
  class_len = np.array(class_len) 
  # print(class_len)
  # getting size of required arg data 
  missn_data_count = class_len[class_len.argmax()] - class_len
  # print(balance_count)
  # ================================================================

          # GETTING THE AUR DATA READY USING THE MAIN META DATA
  # ================================================================
  # getting missn count sample set for data source
  arg_dataset = {}
  class_size = len(missn_data_count)
  classes = dataset[output_col_name].unique()
  for index in range(class_size):
    
    samples_set = dataset[dataset[output_col_name] == classes[index]][input_col_name].sample(missn_data_count[index])
    print(f'for [{classes[index]}] : we are generating [{len(samples_set)}] arg data ')

    # looping through the main sample dataset and generate augdata for it
    datum = []
    for sample in samples_set:
        datum.append(aug_obj.augment(sample))
    
    # adding it to the dictionary to used in creating data frame leter
    arg_dataset[classes[index]] = datum
    # print(datum[:2])
    # ================================================================

  return arg_dataset

In [16]:
# testing code snipet
import numpy as np
arg_datapoint = generate_aurgdata(data, 'document', 'label', t)

for [business] : we are generating [1] arg data
for [entertainment] : we are generating [125] arg data
for [politics] : we are generating [94] arg data
for [sport] : we are generating [0] arg data
for [tech] : we are generating [110] arg data

In [18]:
import pandas as pd 
# data_stack = {
#     'category': ['tech', 'com'], 
#     'text': ['this is cool', 'ilove u']
# }

def get_dataframe():

  arg_stack = {
      'document':[], 
      'label':[]
  }

  for cat, samples in arg_datapoint.items():
    for samp in samples: 
      arg_stack['document'].append(samp)
      arg_stack['label'].append(cat)


  arg_dataframe = pd.DataFrame(arg_stack)
  arg_dataframe.head()
  print('Execution completed.........')

  return arg_dataframe

df = get_dataframe()
df.head()
# print(len(df[df['category']=='tech']))

Execution completed.........

                                            document          label
0  dempsey waves damage s debut economy governmen...       business
1  sidoli distributor raise piero indecency fines...  entertainment
2  ronaldo lawsuit korn's shaw quits the wilson w...  entertainment
3  poppins musical gets flying race the fortnight...  entertainment
4  vera roberts takes jason hill vera lane robert...  entertainment

In [70]:
# helper method can also be design for this
df1 = data[['label', 'document']]
df_arg = df
super_data = pd.concat([df1, df_arg], ignore_index=True)
super_data

         label                                           document
0     business  Ad sales boost Time Warner profit  Quarterly p...
1     business  Dollar gains on Greenspan speech  The dollar h...
2     business  Yukos unit buyer faces loan claim  The owners ...
3     business  High fuel prices hit BA's profits  British Air...
4     business  Pernod takeover talk lifts Domecq  Shares in U...
...        ...                                                ...
2550      tech  choos ordinari lets hilari fans browse if you ...
2551      tech  oversea showcas takes greg mari ga marr the to...
2552      tech  hotspot users processor free window calls peop...
2553      tech  apple unveils webster capt mini' apple has unv...
2554      tech  bergamasco backs sony 25 technology a still ge...

[2555 rows x 2 columns]

In [71]:
# write to csv
super_data.to_csv('super_bbcnews_data.csv', index=False)

# import pandas as pd 
# super_data = pd.read_csv('super_bbcnews_data.csv')
# super_data.head()

In [72]:
import pandas as pd 
super_data = pd.read_csv('super_bbcnews_data.csv')
super_data.head()

      label                                           document
0  business  Ad sales boost Time Warner profit  Quarterly p...
1  business  Dollar gains on Greenspan speech  The dollar h...
2  business  Yukos unit buyer faces loan claim  The owners ...
3  business  High fuel prices hit BA's profits  British Air...
4  business  Pernod takeover talk lifts Domecq  Shares in U...

In [79]:
df_size = len(super_data[super_data['label']=='sport'])
df_size

511

In [43]:
for l in super_data.label.unique():
#     print('label : ' , l)
    lb_size = len(super_data[super_data['label']==l])
    print(f'{l} : {lb_size}')

business : 511
entertainment : 511
politics : 511
sport : 511
tech : 511

# clean the dataset

In [76]:
super_data['clean_document'] = super_data['document'].apply(lambda x: clean_doc(x))

In [82]:
super_data = super_data.sample(df_size)
super_data.head()

,label,document,clean_document
2309,entertainment,o'driscol hear cuts nudity from correspond glo...,"[o'driscol, hear, cut, nuditi, correspond, glo..."
1303,politics,Howard hits back at mongrel jibe Michael Howa...,"[howard, hit, back, mongrel, jibe, michael, ho..."
1754,sport,Hingis to make unexpected return Martina Hing...,"[hingi, make, unexpect, return, martina, hingi..."
1053,politics,"Petrol duties frozen, Brown says Chancellor G...","[petrol, duti, frozen, brown, say, chancellor,..."
2479,tech,â£80m in the â£200 growing therefor high-speed...,"[â£80m, â£200, grow, therefor, high-spe, spywa..."

In [92]:
# colum_len

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
st_words = stopwords.words('english')
from nltk.stem import PorterStemmer
import string
ps = PorterStemmer()


# DATA PREPARATION

from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
super_data['label'] = lb.fit_transform(super_data['label'])
from sklearn import model_selection
# clean_dataset.head()
strainx, stestx , strainy , stesty = model_selection.train_test_split(super_data['clean_document'], super_data['label'], test_size=0.2, shuffle=False)

In [93]:
print(f'train x : {len(strainx)}' )
print(f'test  x : {len(stestx)}' )
print(f'train y : {len(strainy)}' )
print(f'test x : {len(stesty)}' )

train x : 408
test  x : 103
train y : 408
test x : 103

In [94]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn import model_selection

sbbc_tokenizer = Tokenizer(num_words=11000, oov_token='<00V>')
sbbc_tokenizer.fit_on_texts(strainx)
print(len(sbbc_tokenizer.word_index))

strainx_sequence = sbbc_tokenizer.texts_to_sequences(strainx)
stestx_sequence = sbbc_tokenizer.texts_to_sequences(stestx)

# padding the sequences 
max_val = 5000
strain_pad = pad_sequences(strainx_sequence, maxlen=max_val)
stest_pad = pad_sequences(stestx_sequence, maxlen=max_val)
strain_pad.shape

10747

(408, 5000)

In [95]:

vocab_size = 11000
embedding_dim = 100
pad_length =5000

en_lstm_model = tf.keras.Sequential([
    
    tf.keras.layers.Embedding(vocab_size, embedding_dim, input_length=pad_length),
#   tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(128, dropout=0.2, recurrent_dropout=0.5)),
    tf.keras.layers.LSTM(100, dropout=0.5),
    
    tf.keras.layers.Dense(100, activation='relu'),
    tf.keras.layers.Dense(5, activation='sigmoid')
    
])


en_lstm_model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'] )
en_lstm_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_2 (Embedding)     (None, 5000, 100)         1100000

 lstm_2 (LSTM)               (None, 100)               80400

 dense_4 (Dense)             (None, 100)               10100

 dense_5 (Dense)             (None, 5)                 505

=================================================================
Total params: 1,191,005
Trainable params: 1,191,005
Non-trainable params: 0
_________________________________________________________________

In [96]:
en_lstm_model.fit(strain_pad, strainy , epochs=8, validation_data=(stest_pad, stesty), verbose=1)

Epoch 1/8
13/13 [==============================] - 182s 14s/step - loss: 1.6065 - accuracy: 0.2426 - val_loss: 1.6069 - val_accuracy: 0.2136
Epoch 2/8
13/13 [==============================] - 220s 17s/step - loss: 1.5830 - accuracy: 0.2598 - val_loss: 1.5943 - val_accuracy: 0.2136
Epoch 3/8
13/13 [==============================] - 211s 16s/step - loss: 1.5425 - accuracy: 0.3358 - val_loss: 1.5613 - val_accuracy: 0.3786
Epoch 4/8
13/13 [==============================] - 239s 19s/step - loss: 1.4268 - accuracy: 0.6495 - val_loss: 1.4523 - val_accuracy: 0.3010
Epoch 5/8
13/13 [==============================] - 254s 19s/step - loss: 1.0993 - accuracy: 0.6103 - val_loss: 1.2452 - val_accuracy: 0.5243
Epoch 6/8
13/13 [==============================] - 222s 17s/step - loss: 0.7668 - accuracy: 0.8505 - val_loss: 0.9178 - val_accuracy: 0.6408
Epoch 7/8
13/13 [==============================] - 202s 16s/step - loss: 0.2941 - accuracy: 0.9387 - val_loss: 0.5995 - val_accuracy: 0.7573
Epoch 8/8
13/13 [==============================] - 203s 16s/step - loss: 0.1406 - accuracy: 0.9902 - val_loss: 0.8176 - val_accuracy: 0.7476

In [98]:
en_lstm_model.evaluate(stest_pad, stesty)

4/4 [==============================] - 5s 1s/step - loss: 0.8176 - accuracy: 0.7476

[0.8176298141479492, 0.7475728392601013]

In [102]:
# en_lstm_model.evaluate(stest_pad, stesty)

from sklearn import metrics
import numpy as np

result = en_lstm_model.predict(stest_pad)
prediction = [np.argmax(res) for res in result]
# prediction
classs_report = metrics.classification_report(stesty, prediction)
print(classs_report)

4/4 [==============================] - 5s 1s/step
              precision    recall  f1-score   support

           0       0.87      0.91      0.89        22
           1       0.92      0.48      0.63        23
           2       0.52      0.78      0.62        18
           3       0.95      0.82      0.88        22
           4       0.64      0.78      0.70        18

    accuracy                           0.75       103
   macro avg       0.78      0.75      0.74       103
weighted avg       0.79      0.75      0.75       103

# WORD NET

In [107]:
# data.drop('clean_document', inplace=True)
data

,label,document,clean_document
0,business,Ad sales boost Time Warner profit Quarterly p...,"[ad, sale, boost, time, warner, profit, quarte..."
1,business,Dollar gains on Greenspan speech The dollar h...,"[dollar, gain, greenspan, speech, dollar, ha, ..."
2,business,Yukos unit buyer faces loan claim The owners ...,"[yuko, unit, buyer, face, loan, claim, owner, ..."
3,business,High fuel prices hit BA's profits British Air...,"[high, fuel, price, hit, ba, 's, profit, briti..."
4,business,Pernod takeover talk lifts Domecq Shares in U...,"[pernod, takeov, talk, lift, domecq, share, uk..."
...,...,...,...
2220,tech,BT program to beat dialler scams BT is introd...,"[bt, program, beat, dialler, scam, bt, introdu..."
2221,tech,Spam e-mails tempt net shoppers Computer user...,"[spam, e-mail, tempt, net, shopper, comput, us..."
2222,tech,Be careful how you code A new European direct...,"[care, code, new, european, direct, could, put..."
2223,tech,US cyber security chief resigns The man makin...,"[us, cyber, secur, chief, resign, man, make, s..."
2224,tech,Losing yourself in online gaming Online role ...,"[lose, onlin, game, onlin, role, play, game, t..."

In [108]:
from textaugment import Wordnet

wdn_aug = Wordnet(v=False ,n=True, p=0.5)
# wdn_aug.augment('In the afternoon, John is going to town')
# wdn_aug

# def generate_aurgdata(dataset ,input_col_name, output_col_name , aug_obj):
import numpy as np
wdn_aud_data = generate_aurgdata(data, 'document', 'label', wdn_aug)

import pandas as pd 
# data_stack = {
#     'category': ['tech', 'com'], 
#     'text': ['this is cool', 'ilove u']
# }

def get_dataframe():

  arg_stack = {
      'label':[], 
      'document':[]
  }

  for cat, samples in wdn_aud_data.items():
    for samp in samples: 
      arg_stack['document'].append(samp)
      arg_stack['label'].append(cat)


  arg_dataframe = pd.DataFrame(arg_stack)
  arg_dataframe.head()
  print('Execution completed.........')

  return arg_dataframe

df = get_dataframe()
df.head()
# print(len(df[df['category']=='tech']))

for [business] : we are generating [1] arg data
for [entertainment] : we are generating [125] arg data
for [politics] : we are generating [94] arg data
for [sport] : we are generating [0] arg data
for [tech] : we are generating [110] arg data
Execution completed.........

           label                                           document
0       business  rich snap half colombia poor fund half of the ...
1  entertainment  portishead back after eight days cult british ...
2  entertainment  tv show unites angolan kinsfolk angolan phratr...
3  entertainment  films on war victory at sundance a study of th...
4  entertainment  bangkok film festival battles on pda of the th...

In [112]:

# helper method can also be design for this
df1 = data[['label', 'document']]
df_arg = df
super_data = pd.concat([df1, df_arg], ignore_index=True)
super_data.head(2)

# write to csv
# super_data.to_csv('wdnet_super_bbcnews_data.csv', index=False)

In [2]:

import pandas as pd 
wdnet_super_data = pd.read_csv('wdnet_super_bbcnews_data.csv')
wdnet_super_data.head()

      label                                           document
0  business  Ad sales boost Time Warner profit  Quarterly p...
1  business  Dollar gains on Greenspan speech  The dollar h...
2  business  Yukos unit buyer faces loan claim  The owners ...
3  business  High fuel prices hit BA's profits  British Air...
4  business  Pernod takeover talk lifts Domecq  Shares in U...

In [5]:

colum = wdnet_super_data.label.unique()
colum_len = [] 
for index in range(len(colum)):
  lenght = len(wdnet_super_data[wdnet_super_data['label']== colum[index]])
  colum_len.append(lenght)

colum_len

wdnet_super_data['clean_document'] = wdnet_super_data["document"].apply(lambda x: clean_doc(x))

wdnet_super_data.head()

,label,document,clean_document
0,business,Ad sales boost Time Warner profit Quarterly p...,"[ad, sale, boost, time, warner, profit, quarte..."
1,business,Dollar gains on Greenspan speech The dollar h...,"[dollar, gain, greenspan, speech, dollar, ha, ..."
2,business,Yukos unit buyer faces loan claim The owners ...,"[yuko, unit, buyer, face, loan, claim, owner, ..."
3,business,High fuel prices hit BA's profits British Air...,"[high, fuel, price, hit, ba, 's, profit, briti..."
4,business,Pernod takeover talk lifts Domecq Shares in U...,"[pernod, takeov, talk, lift, domecq, share, uk..."

In [6]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
wdnet_super_data['label'] = lb.fit_transform(wdnet_super_data['label'])
from sklearn import model_selection
# clean_dataset.head()
strainx, stestx , strainy , stesty = model_selection.train_test_split(wdnet_super_data['clean_document'], wdnet_super_data['label'], test_size=0.2, shuffle=False)


import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn import model_selection

sbbc_tokenizer = Tokenizer(num_words=25000, oov_token='<00V>')
sbbc_tokenizer.fit_on_texts(strainx)
print(len(sbbc_tokenizer.word_index))

strainx_sequence = sbbc_tokenizer.texts_to_sequences(strainx)
stestx_sequence = sbbc_tokenizer.texts_to_sequences(stestx)

# padding the sequences 
max_val = 5000
strain_pad = pad_sequences(strainx_sequence, maxlen=max_val)
stest_pad = pad_sequences(stestx_sequence, maxlen=max_val)
strain_pad.shape

24356

(2044, 5000)

In [7]:

vocab_size = 25000
embedding_dim = 100
pad_length =5000

wd_lstm_model = tf.keras.Sequential([
    
    tf.keras.layers.Embedding(vocab_size, embedding_dim, input_length=pad_length),
#   tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(128, dropout=0.2, recurrent_dropout=0.5)),
    tf.keras.layers.LSTM(100, dropout=0.5),
    
    tf.keras.layers.Dense(100, activation='relu'),
    tf.keras.layers.Dense(5, activation='sigmoid')
    
])


wd_lstm_model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'] )
wd_lstm_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 5000, 100)         2500000

 lstm (LSTM)                 (None, 100)               80400

 dense (Dense)               (None, 100)               10100

 dense_1 (Dense)             (None, 5)                 505

=================================================================
Total params: 2,591,005
Trainable params: 2,591,005
Non-trainable params: 0
_________________________________________________________________

In [8]:
wd_lstm_model.fit(strain_pad, strainy , epochs=8, validation_data=(stest_pad, stesty), verbose=1)

Epoch 1/8
64/64 [==============================] - 605s 9s/step - loss: 1.5354 - accuracy: 0.3322 - val_loss: 1.5093 - val_accuracy: 0.2661
Epoch 2/8
64/64 [==============================] - 764s 12s/step - loss: 0.7794 - accuracy: 0.7065 - val_loss: 0.9584 - val_accuracy: 0.3992
Epoch 3/8
64/64 [==============================] - 772s 12s/step - loss: 0.2954 - accuracy: 0.8885 - val_loss: 0.5808 - val_accuracy: 0.8356
Epoch 4/8
64/64 [==============================] - 707s 11s/step - loss: 0.1143 - accuracy: 0.9662 - val_loss: 0.3956 - val_accuracy: 0.8611
Epoch 5/8
64/64 [==============================] - 690s 11s/step - loss: 0.0771 - accuracy: 0.9814 - val_loss: 0.1798 - val_accuracy: 0.9452
Epoch 6/8
64/64 [==============================] - 696s 11s/step - loss: 0.0198 - accuracy: 0.9936 - val_loss: 0.1779 - val_accuracy: 0.9511
Epoch 7/8
64/64 [==============================] - 725s 11s/step - loss: 0.0048 - accuracy: 1.0000 - val_loss: 0.1743 - val_accuracy: 0.9452
Epoch 8/8
64/64 [==============================] - 682s 11s/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 0.1881 - val_accuracy: 0.9511

In [9]:
wd_lstm_model.evaluate(stest_pad, stesty)

16/16 [==============================] - 21s 1s/step - loss: 0.1881 - accuracy: 0.9511

[0.1881158947944641, 0.951076328754425]

In [10]:

from sklearn import metrics
import numpy as np

result = wd_lstm_model.predict(stest_pad)
prediction = [np.argmax(res) for res in result]
# prediction
classs_report = metrics.classification_report(stesty, prediction)
print(classs_report)

16/16 [==============================] - 21s 1s/step
              precision    recall  f1-score   support

           0       0.09      1.00      0.17         1
           1       0.94      1.00      0.97       125
           2       0.93      1.00      0.96        94
           4       1.00      0.91      0.96       291

    accuracy                           0.95       511
   macro avg       0.74      0.98      0.76       511
weighted avg       0.97      0.95      0.96       511