In [2]:
import  pandas as pd

data = pd.read_csv('News.csv')
data.head()

,headline,category,authors,short_description
0,There Were 2 Mass Shootings In Texas Last Wee...,CRIME,Melissa Jeltsen,She left her husband. He killed their childre...
1,Will Smith Joins Diplo And Nicky Jam For The ...,ENTERTAINMENT,Andy McDonald,Of course it has a song.
2,Hugh Grant Marries For The First Time At Age ...,ENTERTAINMENT,Ron Dicker,The actor and his longtime girlfriend Anna Eb...
3,Jim Carrey Blasts 'Castrato' Adam Schiff And ...,ENTERTAINMENT,Ron Dicker,The actor gives Dems an ass-kicking for not f...
4,Julianna Margulies Uses Donald Trump Poop Bag...,ENTERTAINMENT,Ron Dicker,The Dietland actress said using the bags is a...

In [3]:
news_data = data[['headline', 'category']]
news_data.head()

                                            headline          category
0   There Were 2 Mass Shootings In Texas Last Wee...           CRIME
1   Will Smith Joins Diplo And Nicky Jam For The ...   ENTERTAINMENT
2   Hugh Grant Marries For The First Time At Age ...   ENTERTAINMENT
3   Jim Carrey Blasts 'Castrato' Adam Schiff And ...   ENTERTAINMENT
4   Julianna Margulies Uses Donald Trump Poop Bag...   ENTERTAINMENT

In [6]:
news_data.headline[0]

' There Were 2 Mass Shootings In Texas Last Week But Only 1 On TV authors'

In [178]:
# from nltk.tokenize import word_tokenizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import string
from nltk.stem import PorterStemmer

st = stopwords.words('english')
stemmer = PorterStemmer()
import re
def clean_doc(doc):

    doc = ''.join([d.replace('\n', ' ') for d in doc])
    token = word_tokenize(doc)
    doc = [stemmer.stem(d) for d in token if not d in string.punctuation] 
    doc = [d for d in doc if not d in st]
    
    
    return doc

news_data['clean_h'] = news_data['headline'].apply(lambda x: clean_doc(x))
news_data.head()

C:\Users\binary\AppData\Local\Temp\ipykernel_13680\1570062048.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news_data['clean_h'] = news_data['headline'].apply(lambda x: clean_doc(x))

,headline,category,clean_h
0,There Were 2 Mass Shootings In Texas Last Wee...,CRIME,2 mass shoot texa last week onli 1 tv author
1,Will Smith Joins Diplo And Nicky Jam For The ...,ENTERTAINMENT,smith join diplo nicki jam 2018 world cup 's o...
2,Hugh Grant Marries For The First Time At Age ...,ENTERTAINMENT,hugh grant marri first time age 57 author
3,Jim Carrey Blasts 'Castrato' Adam Schiff And ...,ENTERTAINMENT,jim carrey blast 'castrato adam schiff democra...
4,Julianna Margulies Uses Donald Trump Poop Bag...,ENTERTAINMENT,julianna marguli use donald trump poop bag pic...

In [179]:
# test_data = news_data.sample(10)

news_data.head()

,headline,category,clean_h
0,There Were 2 Mass Shootings In Texas Last Wee...,CRIME,2 mass shoot texa last week onli 1 tv author
1,Will Smith Joins Diplo And Nicky Jam For The ...,ENTERTAINMENT,smith join diplo nicki jam 2018 world cup 's o...
2,Hugh Grant Marries For The First Time At Age ...,ENTERTAINMENT,hugh grant marri first time age 57 author
3,Jim Carrey Blasts 'Castrato' Adam Schiff And ...,ENTERTAINMENT,jim carrey blast 'castrato adam schiff democra...
4,Julianna Margulies Uses Donald Trump Poop Bag...,ENTERTAINMENT,julianna marguli use donald trump poop bag pic...

In [180]:
import gensim

model = gensim.models.Word2Vec(
    window=2,
    min_count=2,
    workers = 5 
)

In [181]:
model.build_vocab(news_data['clean_h'], progress_per = 1000)
model.train(news_data['clean_h'], total_examples=model.corpus_count, epochs=model.epochs)

(8165411, 43148880)

In [182]:
from gensim.models import Word2Vec
# model.save('news-w2vec')
w2vec = Word2Vec.load("news-w2vec")

In [183]:
w2vec.wv.index_to_key

[' ',
 'a',
 'r',
 'e',
 't',
 'o',
 'i',
 'n',
 'h',
 'u',
 's',
 'l',
 'c',
 'd',
 'm',
 'p',
 'g',
 'b',
 'w',
 'f',
 'k',
 'v',
 'y',
 "'",
 '-',
 '0',
 '1',
 'j',
 'x',
 '2',
 '.',
 'z',
 '\\',
 '9',
 'q',
 '5',
 '3',
 '4',
 '8',
 '6',
 '7',
 '/',
 '+',
 '_',
 '`',
 '|',
 '~']

In [166]:
w2vec.wv.most_similar('game')

KeyError: "Key 'game' not present"